/* css pagina inicial  */
body{
    margin: 0px;
}

header{
    background-color: #C21C44;
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
}

#img_logo {
    margin-left: 50px;
    width: 100px;
}

#pesquisa_menu{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 600px;
    height: 35px;
    border-radius: 50px;
    border: 0px;
    margin-left: 100px;
}

#menu_superior{
    margin-top: 10px;
    margin-left: 100px;
    list-style: none;
    float: left;
    color: aliceblue;
    font-size: 20px;

}

#menu_superior li{
    position: relative;
    float: left;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
    

#menu_superior li a{
    text-decoration: none;
    color: aliceblue;
}

#menu_superior li a:hover{
    color: black;
}

#selecao_aluno{
    list-style: none;
    float: left;
    color: aliceblue;
    font-size: 20px;
   

}

#selecao_aluno li{
    
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

#selecao_aluno li a{
    position: absolute;
    border: 1px solid beige;
    padding: 3px;
    background-color: black;
    top: 10px;
    right: 10px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    width: 100px;
    height: 20px;

}

#selecao_aluno li a:hover{
    background-color: aliceblue;
    color: rgb(21, 21, 24);
    border: 1px solid black;
}

#banner_principal{
    display: flex;
    
}

#banner_principal img{
    width: 2500px;
    height: 800px;
    
}

#banner_principal h1{
    position:absolute;;
    top: 20%;
    right: 40%;
    left: 3%;
    font-size: 60px ;    
}

#banner_principal button{
    position: absolute;
    background-color: yellow;
    border-radius: 10px;
    width: 250px;
    top: 60%;
    right: 40%;
    left: 15%;
    font-size: 30px ;    
}

#banner_principal button:hover{
    transform: scale(1.2);
}

.principal h1{
    text-align: center;
    font-size: 80px;
    margin: 0px;
}

.principal h3{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #1D1111;
}

.selecao_instrumentos {
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    list-style: none;
    float: left;
    color: aliceblue;
    font-size: 20px;
   
}


.selecao_instrumentos ul{
    list-style: none;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;

}

.selecao_instrumentos ul li{
    position: relative;
    float: left;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.selecao_instrumentos ul li a{
    text-decoration: none;
    color: #685F5F;
}

.selecao_instrumentos ul li a:hover{
    color: black;
}

/*css sobre nós */

#banner-sobre-nos img{
    width: 100%;
    height: auto;
}

#banner-sobre-nos h1{
    color: #C21C44;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-family: "roboto";
}

#banner-sobre-nos p{
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    font-size: 20px;
    font-family: "roboto";
}

#estudar-na-best-song{
    background-color: #C21C44;
    border-radius: 5px;
    position: relative;
    padding: 0.8%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "roboto";
}

#icones1{
    display: flex;
    width: 30%;
    text-align: center;
    position: relative;
<<<<<<< HEAD
    top: 30%;
    left: 28%;

=======
    top: 100px;
    left: 480px;
    
>>>>>>> parent of 1617495 (Menu Mobile)
}

#icones2{
    display: flex;
    width: 30%;
    text-align: center;
    position: relative;
<<<<<<< HEAD
    top: 30%;
    left: 30%;

}

#icones1 img {

    width: 50%;

=======
    top: 100px;
    left: 520px;
    
}

#icones1 img {
    
    width: 100px;
    
>>>>>>> parent of 1617495 (Menu Mobile)
}

#icones2 img{
    width: 60%;
}

#praticidade{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 70%;
}
#acessivel{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 80%;
}
#didatica{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 80%;
}
#no-seu-ritmo{
<<<<<<< HEAD
    padding-top: 5%;
    padding-bottom: 5%;

=======
    padding-top: 20px;
    padding-bottom: 20px;
    
>>>>>>> parent of 1617495 (Menu Mobile)
}

#icones1 h1, #icones2 h1{
    color: #C21C44;
    font-family: "roboto";
    
<<<<<<< HEAD

}

/* perguntas frequentes*/

.pergunta {
    border-bottom: 0.5% solid #ccc;
    padding: 1.5%;
    background-color: #EDEDED;
    border-radius: 5px;
    margin: 2%;
    padding-right: 8%;
  }
  
  .pergunta input,
  .pergunta .resposta { 
    display: none;
    font-family: "roboto";
    padding: 0.5%;

}
  
  .pergunta label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0,5%;
    width: 100%;
    color: #C21C44;
    font-family: "roboto";
    
  }
  
  .pergunta input:checked ~ .resposta {
    display: block
  }

  #duvidas-frequentes h1{
    font-family: "roboto";
    color: #C21C44;
    margin: 2%;
  }

  .pergunta img{
    width: 25px;
    padding-left: 80%;
    
  }

  
=======
}
>>>>>>> parent of 1617495 (Menu Mobile)
