/* css pagina inicial  */
body{
    margin: 0px;
    padding: 0px;
}

header{
    box-sizing: border-box;
    background-color: #C21C44;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

#img_logo {
    margin-left: 50px;
    width: 100px;
}

#pesquisa_menu{
    width: 500px;
    height: 35px;
    border-radius: 50px;
    border: 0px;
}

#menu_superior{
    display: flex;
    list-style: none;
    gap: .5rem;

}

#menu_superior li{
    position: relative;
    padding: 10px;
    text-transform: uppercase;
}


#menu_superior li a{
    text-decoration: none;
    display: block;
    padding: .5rem;
    color: aliceblue;
}

#menu_superior li a:hover{
    color: black;
}

#btn-mobile {
    display: none;
}


#main{
    padding-top: 20px;
    padding-bottom: 20px;
}

#banner_principal{
    display: flex;

}

#banner_principal img{
    width: 100%;
    height: 100vh;
}

#banner_principal h1{
    position: absolute;
    top: 35%;
    right: 40%;
    left: 3%;
    font-size: 3em ;
}

#banner_principal button{
    position: absolute;
    background-color: yellow;
    border-radius: 10px;
    width: 250px;
    top: 60%;
    right: 40%;
    left: 15%;
    font-size: 30px ;
}

#banner_principal button:hover{
    transform: scale(1.2);
}

.principal h1{
    text-align: center;
    font-size: 80px;
    margin: 0px;
}

.principal h3{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #1D1111;
}


#rodaPe{
    background-color: #130f10;
    width: auto;
    height: 50px;
    display: flex;
}

/* Seleção de cursos*/

.selecaoDeCursos{
    display: flex;
    padding: 20px 100px 50px 100px;
    justify-content:space-between;
}
.selecaoDeCursos div{
    border-radius: 5px;
    color: white;
    background-color: #df718b;
    -webkit-box-shadow: 1px -3px 8px -1px rgba(0,0,0,0.75); 
    box-shadow: 1px -3px 8px -1px rgba(0,0,0,0.75);
  
}


.selecaoDeCursos div p{
    text-align: center;
}

.selecaoDeCursos div h3{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.selecaoDeCursos div img{
    width: 250px;
    height: 150px;
    border-radius: 3px;
}

.selecaoDeCursos div:hover{
   transform: scale(1.02);
}


/* media de 800px */

@media(max-width: 800px){

    #pesquisa_menu{
        width: 40%;
    }

    #menu_superior{
        display: block;
        position: absolute;
        padding: 0px;
        margin: 0px;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: rgb(46, 134, 140);
        transition: .6s;
        height: 0px;
        z-index: 10000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu_superior{
        height: 100vh;
        visibility: visible;
        overflow: auto;

    }

    #menu_superior li a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid black;
    }


    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        margin: 5px;
        background: none;
        cursor: pointer;
        gap: .5rem;

    }

    #banner_principal h1{
        position: absolute;
        top: 35%;
        right: 40%;
        left: 3%;
        font-size: 2em ;
    }

}


/*css sobre nós */

#banner-sobre-nos img{
    width: 100%;
    height: auto;
}

#banner-sobre-nos h1{
    color: #C21C44;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-family: "roboto";
}

#banner-sobre-nos p{
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "roboto";
}

#estudar-na-best-song{
    background-color: #C21C44;
    border-radius: 5px;
    size: 500px;
    position: absolute;
    /* left: 33%; */
    /* top: 1020px; */
    text-align: center;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "roboto";
}

#icones1{
    display: flex;
    width: 30%;
    text-align: center;
    position: relative;
    top: 100px;
    left: 480px;

}

#icones2{
    display: flex;
    width: 30%;
    text-align: center;
    position: relative;
    top: 100px;
    left: 520px;

}

#icones1 img {

    width: 100px;

}

#icones2 img{
    width: 100px;
}

#praticidade{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 290px;
}
#acessivel{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
}
#didatica{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 300px;
}
#no-seu-ritmo{
    padding-top: 20px;
    padding-bottom: 20px;

}

#icones1 h1, #icones2 h1{
    color: #C21C44;
    font-family: "roboto";

}#banner-sobre-nos img{
    width: 100%;
    height: auto;
}

#banner-sobre-nos h1{
    color: #C21C44;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    font-family: "roboto";
}

#banner-sobre-nos p{
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    font-size: 20px;
    font-family: "roboto";
}

#estudar-na-best-song{
    background-color: #C21C44;
    border-radius: 5px;
    position: relative;
    padding: 0.8%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: "roboto";
}

#icones1{
    display: flex;
    width: 30%;
    text-align: center;
    position: relative;
    top: 30%;
    left: 28%;
    top: 30%;
    left:30%;
    

}

#icones2{
    display: flex;
    width: 30%;
    text-align: center;
    position: relative;
    top: 30%;
    left: 30%;

}

#icones1 img {

    width: 50%;
    top: 100px;
    left: 520px;
    
}

#icones1 img {
    
    width: 30%;
    

}

#icones2 img{
    width: 60%;
}

#praticidade{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 60%;
}
#acessivel{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 80%;
}
#didatica{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 80%;
}
#no-seu-ritmo{

    padding-top: 5%;
    padding-bottom: 5%;

    padding-top: 20px;
    padding-bottom: 20px;
    

}

#icones1 h1, #icones2 h1{
    color: #C21C44;
    font-family: "roboto";
    


}

/* perguntas frequentes*/

.pergunta {
    border-bottom: 0.5% solid #ccc;
    padding: 1.5%;
    background-color: #EDEDED;
    border-radius: 5px;
    margin: 2%;
    padding-right: 8%;
  }
  
  .pergunta input,
  .pergunta .resposta { 
    display: none;
    font-family: "roboto";
    padding: 0.5%;

}
  
  .pergunta label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0,5%;
    width: 100%;
    color: #C21C44;
    font-family: "roboto";
    
  }
  
  .pergunta input:checked ~ .resposta {
    display: block
  }

  #duvidas-frequentes h1{
    font-family: "roboto";
    color: #C21C44;
    margin: 2%;
  }

  .pergunta img{
    width: 25px;
    padding-left: 80%;
    
  }